.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  
}

.navbar-inverse{
      border-style: none;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
}

#logo{
  font-size: 20px;
  color: #0EF0F0;
}


.App-hp{

  margin-top: 50px;
  width: 900px;
  height: 350px;
}
.container{

  margin-top: 20px;
}

table{

  color: black;
}
.App-footer{
  background-color: #4d5460;
  height: 50px;
  padding: 10px;
  color: white;
  margin-top: 290px;

}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


table th{

  text-align: center;
}

 .filter-input{

float: right;
}
